/* Form.css */

.add-main-account {
    width: 100%;
    margin: 0 auto;
    max-height: 450px;
    overflow-y: scroll;
}

.is-active {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.is-active p {
    margin-left: 0.5rem;
}

.hr-line {
    border: 0.5px solid var(--table-border-color);
}

.select-group,
.select-currency {
    width: 100%;
    background: transparent;
    color: var(--main-text-color);
    height: 35px;
    border-radius: 5px;
    font-family: var(--font-family-sans-serif);
    margin-bottom: 1rem;
}

.textarea {
    width: 100%;
    background: var(--input-background);
    color: var(--main-text-color);
    height: 30px;
    border-radius: 5px;
    padding-left: 8px;
    margin-bottom: 0.5rem;
    display: flex;
    padding-top: 3px;
}

.textarea:focus{
    border: 0.5px solid var(--main-green-color);
    outline: none;
}

.space{
    padding: 0.25rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: var(--modal-overlay);

}

.modal-content {
    background: var(--modal-background-color);
    border-radius: 5px;
    position: relative;
    width: 45%;
    border-radius: 5px;
    color: var(--main-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--main-text-color);
}

.modal-close:hover{
    color: var(--main-green-color);
}


.modal-title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid var(--table-border-color);
    position:sticky;
    left: 0;
    top: 0;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    width: 97%;
    background-color: var(--modal-background-color);
}

.modal-title {
    font-size: 18px;
    font-weight: 500;
}

.cancel-save-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98.9%;
    border-top: 0.5px solid var(--table-border-color);
    position: sticky;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.25rem;
    left:0;
    bottom:0;
    background-color: var(--modal-background-color);

}

.cancel-btn {
    border: 0.5px solid var(--table-border-color);
    background-color: transparent;
    color: var(--main-text-color);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    border: none;
    background-color: var(--main-green-color);
    padding: 0.5rem;
    color: var(--secondary-text-color);
    border-radius: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
}