.accounting-page {
    min-height: 100vh;
    height: 100%;
    background-color: var(--main-background-color);
    padding-left: 4.7%;
}

.accountig-page-margin{
    min-height: 100vh;
    height: 100%;
    background-color: var(--main-background-color);
    padding-left: 230px;   
}

.container-1{
    padding: 1rem;
}

@media screen and (max-width : 550px) {
 
}