.accounting-page {
    min-height: 100vh;
    height: 100%;
    background-color: var(--main-background-color);
    /* padding-left: 5rem; */
    /* width: 100%; */
    /* padding: 1rem; */
    /* padding-left: 5%; */
}

.container-1{
    padding: 1rem;
}

@media screen and (max-width : 550px) {
 
}