body {
    margin: 0;
    padding: 0;
}

:root {
    --main-green-color: #8FBD56;
    --main-text-color: black;
    --main-background-color: #F2F2F2;
    --table-background-color: #FFFFFF;
    --button-white-color: #EEEEEE;
    --navbar-background-color: #F9F9F9;
    --table-border-color: lightgray;
    --secondary-button-border: gray;
    --button-hover-color: lightgray;
    --secondary-text-color: white;
    --secondary-border-color: black;
    --main-color: #8FBD56;

}

.body-lightMode {
    --main-green-color: #8FBD56;
    --main-text-color: black;
    --main-background-color: #F2F2F2;
    --table-background-color: #FFFFFF;
    --button-white-color: #EEEEEE;
    --navbar-background-color: #F9F9F9;
    --table-border-color: gray;
    --secondary-button-border: gray;
    --button-hover-color: lightgray;
    --secondary-text-color: white;
    --secondary-border-color: black;
 
    --main-color: #8FBD56;
    --box-shadow-account-btn: rgba(0, 0, 0, 0.5);
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --modal-background-color: #FFFFFF;
    --modal-overlay: rgba(255, 255, 255, 0.5);

}

.body-darkMode {
    --main-green-color: #8FBD56;
    --main-text-color: lightgrey;
    --main-background-color: #3B3B41;
    --table-background-color: #323236;
    --button-white-color: #EEEEEE;
    --navbar-background-color: #232326;
    --table-border-color: gray;
    --secondary-button-border: gray;
    --button-hover-color: lightgray;
    /* --input-background : #28282B; */
    --secondary-text-color: white;
    --secondary-border-color: white;
    --main-color: #8FBD56;
    --box-shadow-account-btn: rgba(143, 189, 86, 0.5);
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --modal-background-color: #323236;
    --modal-overlay: rgba(0, 0, 0, 0.5);
}